@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-style: solid;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin: 5px;
}
#homepage-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#header-container {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

#header-container > * {
  height: 90%;
  justify-content: center;
  align-items: center;
}

#search-input {
  display: flex;
  flex-grow: 1;
}

#profile-dropdown {
  margin-left: 200px;
}

#homepage-body {
  display: flex;
  flex-direction: column;
}

#display-item {
  height: 300px;
  position: relative;
}

#item-controls {
  width: min-content;
  position: absolute;
  top: 0;
  right: 0;
}

#focus-info {
  height: 200px;
}

/* Profile */

#profile-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#profile-container > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#PFP {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
